table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #4CAF50;
  color: white;
}
.add{
color: white;
    background-color: #4CAF50;
    padding: 6px;
    text-decoration: none;
   margin:1rem 0;
   display:block;
   width:fit-content;
    border-radius: 4px;

    height: fit-content;
    
    }
  body
  { background-color:white;
  }